[Unit]
Description=Super Scanner Bot
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/super_scanner
ExecStart=/usr/bin/python3 /home/ubuntu/super_scanner/super_scanner_bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
